<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Coy</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="vue-app">
        <input type="text" v-model="barang" id="brg">
        <input type="text" v-model="qty" id="jum">
        <button @click="tambah"> Tambah </button>
        <button @click="kurang"> Kurang </button>
        <button class="tampil" v-on:click="hasilnya = !hasilnya">{{ hasilnya === true ? 'Show Cart' : 'Hide Cart'}}</button>
        <div v-bind:class="{hasilnya: hasilnya}">
            <ul>
                <li v-for="data in cart">{{data.barang}} - {{data.qty}}
                </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
    
</body>

</html>